.projects {
  background-color: $color-active;
  padding: 100px 0;
  &__items {
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 20px;
  }
  &__span {
    display: block;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 15px;
  }
}

@media (max-width: 960px) {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 30%);
      gap: 30px;
    }
  }
}
@media (max-width: 540px) {
  .projects {
    &__items {
      grid-template-columns: repeat(2, 50%);
      gap: 0;
    }
    &__item {
      margin-bottom: 30px;
      &:nth-child(5),
      &:nth-child(6) {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 380px) {
  .projects {
    &__items {
      grid-template-columns: 100%;
      gap: 0;
    }
    &__item {
      &:nth-child(5) {
        margin-bottom: 30px;
      }
    }
  }
}
